<% wrap_layout :layout do %>
  <div class="article_container container">
    <article class="article-content">
      <header class="article-header">
        <h1 class="article-title"><%= current_page.data.title %></h1>
        <div class="post-meta">
          <span class="post-meta-author"><%= current_page.data.author %></span><i class="fas fa-circle"></i>
          <time datetime="<%= current_page.data.date %>"><i class="far fa-calendar-alt"></i><%= current_page.data.date.strftime("%d/%m/%Y") %></time><i class="fas fa-circle"></i><span class="reading_time"></span>
        </div>
      </header>
      <div class="article-image">
          <%= image_tag current_page.data.image %>
      </div>
      <div class="article-body">
        <%= yield %>
      </div>
      <div class="social-media-sharing">
          <div class="fb-share-button"
          data-href="https://www.emilieogier-sophrologie.fr/<% current_page.url %>"
          data-layout="button"
          data-size="large">
        </div>
        <span class="tacTwitter"></span><a data-size="large" href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-dnt="true"></a>
        <span class="tacLinkedin"></span><script type="IN/Share"></script>

        <button class="copy-clipboard"
          data-clipboard-text="https://www.emilieogier-sophrologie.fr<%= current_page.url %>"
          data-tooltip="Copier l'URL">
          <i class="fas fa-link"></i>
        </button>
      </div>
    </article>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script type="text/javascript">new ClipboardJS('.copy-clipboard');</script>
<% end %>
