<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= current_page.data.title %></title>
    <meta name="description" content="<%= data.meta.meta_description %>">
    <meta name="theme-color" content="#EBD0B7"/>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= data.meta.meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.emilieogier-sophrologie.fr" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="<%= data.meta.meta_description %>" />
    <meta property="og:site_name" content="<%= data.meta.meta_product_name %>" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= data.meta.meta_title %>">
    <meta name="twitter:description" content="<%= data.meta.meta_description %>">
    <meta name="twitter:image:src" content="">
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


    <script src="/tarteaucitron/tarteaucitron.js"></script>
    <script >
      tarteaucitron.init({
        "privacyUrl": "https://www.emilieogier-sophrologie.fr/mentions_legales",
        "hashtag": "#tarteaucitron",
        "cookieName": "tarteaucitron",
        "orientation": "bottom",
        "showAlertSmall": false,
        "cookieslist": true,
        "adblocker": false,
        "AcceptAllCta" : true,
        "highPrivacy": true,
        "handleBrowserDNTRequest": false,
        "removeCredit": true,
        "moreInfoLink": true,
        "useExternalCss": false,
      });
    </script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body id="body">
    <%= partial "layouts/shared/navbar" %>
    <%= yield %>
    <%= partial "layouts/shared/footer" %>
    <%= partial "layouts/shared/back_to_top" %>
    <%= javascript_include_tag "bundle" %>
    <script>
      (tarteaucitron.job = tarteaucitron.job || []).push('addtoanyshare');
      (tarteaucitron.job = tarteaucitron.job || []).push('facebook');
      (tarteaucitron.job = tarteaucitron.job || []).push('twitter');
      (tarteaucitron.job = tarteaucitron.job || []).push('linkedin');
    </script>
    <script type="text/javascript">
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
