---
title: Emilie Ogier Sophrologie
---
<section class="page" id="home-page">
  <div class="banner home-banner">
    <div class="container home-title">
      <h1>Sophrologie Relationnelle</h1>
      <p>Emilie Ogier</p>
      <p><small>Saint-Chamas et ses environs</small></p>
      <p><small><a class="contact-link" href="tel:+33785244989">07 85 24 49 89</a></small></p>
      <%= link_to "Contactez-Moi", "/contact", class: "home-banner-btn btn btn-ghost" %>
    </div>
  </div>
  <section class="home-content container">
    <div class="home-header">
      <p class="description-text">Dans un monde où tout va toujours plus vite, nous pouvons faire de plus en plus de
        choses tout en ayant l’impression d’avoir de moins en moins de temps. La société d’aujourd’hui est trop souvent
        celle du « faire », au détriment de l’ « être ».</p>
      <p class="description-text">La sophrologie peut vous aider à faire une pause. A prendre du temps pour vous.</p>
    </div>
    <hr class="separator-salmon">
    <div class="sophrologie-presentation">
      <p class="description-text">C’est dans un espace de confidentialité, de bienveillance et d’écoute active que
        j’accompagne enfants, adolescents et adultes dans leur démarche vers un mieux-être, pour que chacun puisse
        s’épanouir et se réaliser dans sa vie quotidienne.</p>
      <h2 class="title-sophro">La sophrologie</h2>
      <div class="sophro-card">
        <div class="home-card" id="card-1">
          <div class="img-container">
            <%= image_tag "https://res.cloudinary.com/duzajevzf/image/upload/v1575464815/poppy.jpg", class: "card-pic", loading: "lazy", alt: "Emilie Ogier Sophrologie" %>
          </div>
          <h2>C'est quoi ?</h2>
          <p class="card-text">La sophrologie est une méthode corporelle qui repose sur la <strong
              class="bold-green">respiration</strong>, des mouvements de <strong class="bold-green">relaxation
              dynamique</strong> et des techniques de <strong class="bold-green">visualisations positives</strong>.</p>
          <hr class="separator-grey">
          <div class="card-link-wrapper">
            <%= link_to "En savoir plus", "origine_et_definition.html", class:"card-link" %>
          </div>
        </div>
        <div class="home-card" id="card-2">
          <div class="img-container">
            <%= image_tag "https://res.cloudinary.com/duzajevzf/image/upload/v1575464815/hands.jpg", class: "card-pic", loading: "lazy", alt: "Emilie Ogier Sophrologie" %>
          </div>
          <h2>Pour qui ?</h2>
          <p class="card-text">La sophrologie s'adresse aux enfants, adolescents, adultes et personnes âgées.</p>
          <hr class="separator-grey">
          <div class="card-link-wrapper">
            <%= link_to "En savoir plus", "/champs_application", class:"card-link" %>
          </div>
        </div>
        <div class="home-card" id="card-3">
          <div class="img-container">
            <%= image_tag "https://res.cloudinary.com/duzajevzf/image/upload/v1575464815/dandelion.jpg", class: "card-pic", loading: "lazy", alt: "Emilie Ogier Sophrologie" %>
          </div>
          <h2>Pour quoi?</h2>
          <p class="card-text">La sophrologie est source d’équilibre, de bien-être, d’un regard positif sur l’existence.
            La sophrologie vous aide à identifier les ressources qui sont en vous et à les développer.</p>
          <hr class="separator-grey">
          <div class="card-link-wrapper">
            <%= link_to "En savoir plus", "/champs_application", class:"card-link" %>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- <section class="testimony-section">
    <div class="testimony-content">
      <h3>Temoignages</h3>
      <div class="testimony-container">
        <div class="portrait"><img src="http://www.tuacahntech.com/uploads/6/1/7/9/6179841/6166205_orig.jpg" alt="" />
        </div>
        <div class="testimony">
          <blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident harum inventore molestias
              delectus amet rem veniam. Ab aperiam ipsa minima quisquam accusantium beatae quasi ex velit? Amet, iure
              omnis.</p>
            <cite><span>Kristi McSweeney</span><br />Director of rien<br />Marseille,France</cite>
          </blockquote>
        </div>
      </div>
      <div class="testimony-container">
        <div class="portrait"><img
            src="http://static1.squarespace.com/static/51579fb2e4b0fc0d9469ff97/56cc83dfe707ebc39cf3269f/56d0b59e27d4bde4665fded3/1457365822199/"
            alt="" /></div>
        <div class="testimony">
          <blockquote>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus natus, error corrupti totam fugiat itaque
              laborum eum saepe laboriosam, ratione officiis autem sint cum, dolores provident a doloribus vel eveniet.
            </p>
            <cite><span>Jean Blaguin</span><br />Artiste peintre<br />Paris, France</cite>
          </blockquote>
        </div>
      </div>
    </div>
  </section> -->
  <section class="sophro-syndicate">
    <div class="syndicat-links-wrapper">
      <% link_to "https://www.syndicat-sophrologues-professionnels.fr/", class:"syndicats-link", target:"_blank", rel: "noopener noreferrer" do %>
      <%= image_tag "https://res.cloudinary.com/duzajevzf/image/upload/c_scale,w_150/v1572886062/syndicat_logo.jpg", class: "syndicats-logos", loading: "lazy", alt: "Logo syndicats sophrologues professionnels"%>
      <% end %>
    </div>
    <div class="syndicat-links-wrapper">
      <% link_to "https://www.feps-sophrologie.fr/", class:"syndicats-link", target:"_blank", rel: "noopener noreferrer" do %>
      <%= image_tag "https://res.cloudinary.com/duzajevzf/image/upload/v1572886061/fede_sophro_logo.png", class: "syndicats-logos", loading: "lazy", alt: "Logo fédérations des écoles professionnelles en sophrologie"%>
      <% end %>
    </div>
    <div class="syndicat-links-wrapper" id="formation-logo-wrapper">
      <% link_to "https://sophrologie-relationnelle.fr/", class:"syndicats-link", target:"_blank", rel: "noopener noreferrer" do %>
      <%= image_tag "https://res.cloudinary.com/duzajevzf/image/upload/c_scale,w_200/v1572886062/sophro_formation_logo.png", class: "syndicats-logos", id: "formation-logo", loading: "lazy", alt: "Logo centre de formation zuili"%>
      <% end %>
    </div>
  </section>
  <section class="quote container">
    <div class="quote-wrapper">
      <i class="fas fa-map-marker marker-left"></i>
      <div class="quote-text">
        <p>"(...) regarde chaque jour le monde comme si c'était la première fois. Alors j’ai suivi ton conseil et je me
          suis appliqué. La première fois. Je contemplais la lumière, les couleurs, les arbres, les oiseaux, les
          animaux. Je sentais l’air passer dans mes narines et me faire respirer. J’entendais les voix qui montaient
          dans le couloir comme dans la voute d’une cathédrale. Je me trouvais vivant. Je frissonnais de pure joie. Le
          bonheur d’exister. J’étais émerveillé."</p>
      </div>
      <i class="fas fa-map-marker marker-right"></i>
    </div>
    <p class="author">Oscar et la dame rose - Eric-Emmanuel Schmitt</p>
  </section>
</section>
